body {
  font-family: "Aeonik";
  font-size: 17px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffd000;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all ease 0.5s;
  top: 0;
}

.header-logo {
  padding: 10px 0 0 90px;
  width: 143px;
}

.contact-btn {
  font-family: "Aeonik-Medium";
  border: solid 1px #000000;
  font-size: 14px;
  color: #000000;
  border-radius: 25px;
  padding: 10px 25px;
  text-decoration: none;
  background: none;
  float: right;
  margin: 15px 0;
  cursor: pointer;
  transition: all ease 0.5s;
  height: 39px;
  width: 118px;
  box-sizing: border-box;
  text-align: center;
}

.contact-btn:hover {
  color: #ffd000;
  background-color: #000000;
}

.cotizar-btn {
  font-family: "Aeonik-Medium";
  background-color: #000000;
  font-size: 14px;
  color: #ffd000;
  border-radius: 25px;
  border: solid 1px #000000;
  margin: 15px 70px 0 15px;
  padding: 10px 25px;
  text-decoration: none;
  float: right;
  cursor: pointer;
  transition: all ease 0.5s;
  height: 39px;
  width: 118px;
  box-sizing: border-box;
  text-align: center;
}

.cotizar-btn:hover {
  background-color: #ffd000;
  color: #000000;
}

.content {
  background-color: #ffffff;
  margin-top: 70px;
}

.first-wrapper {
  background-image: url(../img/muevo-01.jpg);
  background-size: cover;
  background-position: center;
  height: 477px;
}

.first-items {
  text-align: center;
  width: 100%;
  color: #fff;
  z-index: 1;
  padding-top: 120px;
}

.first-logo {
  background-color: #ffd000;
  width: 296px;
}

.first-title {
  font-size: 44px;
  margin: 0 auto 20px auto;
}

.first-description {
  max-width: 540px;
  font-size: 16px;
  color: #fff;
  font-family: Aeonik;
  font-weight: 100;
  margin: 0 auto 55px auto;
  line-height: 20px;
}

.first-btn {
  font-family: "Aeonik";
  background-color: #ffd000;
  font-size: 16px;
  color: #000000;
  border-radius: 25px;
  border: solid 1px #ffd000;
  margin: 30px 0 0 0;
  padding: 10px 18px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.content-arrow {
  position: relative;
  margin: 0 auto;
  width: 50px;
}

.arrow-icon {
  background-image: url(../img/arrow-down.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  padding: 20px;
  border-radius: 50px;
  /* box-shadow: 0px 1px 1px 1px lightgrey; */
  margin: 28px auto 0 auto;
  background-color: #ffd000;
  width: 0;
}

.cards-wrapper {
  text-align: center;
  padding-top: 100px;
}

.card-wrapper-title {
  font-size: 26px;
  color: #838383;
  font-family: Aeonik;
  font-weight: 500;
  margin-bottom: 40px;
}

.home-card {
  margin: 20px;
  font-size: 15px;
  border-radius: 2px;
  width: 280px;
  height: 330px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  text-align: left;
  vertical-align: top;
  position: relative;
  -webkit-box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 0.62);
  -moz-box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 0.62);
  box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 0.62);
  transition: all ease 0.5s;
}

.home-card:hover {
  -webkit-box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 1);
  box-shadow: 0px 6px 45px 6px rgba(224, 224, 224, 1);
}

.flete-card {
  background-image: url(../img/cards/flete-miniflete.jpg);
}

.contenedores-card {
  background-image: url(../img/cards/carga-contenedores.jpg);
}

.maquinaria-card {
  background-image: url(../img/cards/carga-maquinaria.jpg);
}

.general-card {
  background-image: url(../img/cards/carga-general.jpg);
}

.refrigerada-card {
  background-image: url(../img/cards/carga-refrigerada.jpg);
}

.peligrosa-card {
  background-image: url(../img/cards/carga-peligrosa.jpg);
}

.paletizada-card {
  background-image: url(../img/cards/carga-paletizada.jpg);
}

.more-icon {
  background-image: url(../img/cards/more.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 1px 1px 1px lightgrey;
  position: absolute;
  margin: 110px 0 0 210px;
  background-color: white;
}
.service-wrapper {
  text-align: center;
  padding: 82px 15px 0 15px;
}

.service-title {
  font-family: "Aeonik";
  font-size: 35px;
}

.service-description {
  color: #585858;
  max-width: 680px;
  margin: 0 auto 70px auto;
}

.service-description-hl {
  font-size: 16px;
  font-family: "Aeonik-Bold";
  color: #585858;
  margin-top: 25px;
}

.cards-content {
  padding: 25px 0 35px 0;
}

.service-card {
  display: inline-block;
  text-align: left;
  max-width: 539px;
  vertical-align: top;
  margin: 0 25px;
}

.service-card-title {
  font-family: "Aeonik";
  font-size: 37px;
}

.service-card-subtitle {
  margin-bottom: 20px;
}

.service-card-img {
  width: 100%;
  display: block;
}

.service-card-img-border {
  height: 58px;
  background-color: black;
  border-right: 55px solid #ffd000;
  margin-bottom: 35px;
}

.service-card-item {
  padding-left: 25px;
  margin-top: 25px;
}

.service-card-description {
  font-size: 15px;
  color: #585858;
  margin-bottom: 23px;
  max-width: 350px;
}

.availability-wrapper {
  background-image: url(../img/muevo-04.jpg);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 15px 0 15px;
  color: #ffffff;
  text-align: center;
}

.availability-title {
  font-size: 44px;
  margin: 0 auto 25px auto;
  text-align: center;
  max-width: 530px;
  line-height: 39px;
}

.availability-description {
  max-width: 526px;
  font-family: "Aeonik";
  margin: 0px auto;
  font-size: 15px;
}

.availability-hl {
  color: #ffd000;
  /* max-width: 550px; */
  font-family: "Aeonik";
  font-size: 18px;
}

.feature-content {
  text-align: center;
  padding: 100px 0;
  background-color: #eeeeee;
}

.feature-item {
  display: inline-block;
  width: 153px;
  list-style: none;
  vertical-align: top;
  text-align: center;
  margin: 0 45px;
}

.feature-img {
  width: 110px;
}

.feature-title {
  font-size: 23px;
  padding-top: 7px;
  height: 85px;
}

.feature-description {
  font-size: 16px;
  padding-top: 20px;
  color: #585858;
}
.form-wrapper {
  text-align: center;
  padding: 100px 0;
  background-color: #585858;
}
.dnone {
  display: none;
}
.form-title {
  font-size: 35px;
  color: #ffffff;
  font-family: "Aeonik";
  margin-bottom: 50px;
}

.column-form {
  display: inline-block;
  vertical-align: top;
  width: 437px;
  margin: 0 15px;
  text-align: right;
}

input {
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  font-family: "Aeonik";
  width: 437px;
  background-color: transparent;
  border-radius: 25px;
  box-sizing: border-box;
}

.input-50 {
  width: 46%;
}

.input-two {
  display: flex;
  justify-content: space-between;
}

input::placeholder {
  color: #ffffff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: all 5000s ease-in-out 0s;
}

label {
  display: none;
}

select {
  font-size: 15px;
  background-color: transparent;
  border: 1px rgba(0, 0, 0, 0.3);
  display: block;
}

select option {
  background-color: #ccc;
  color: #383838;
}

.service-list {
  padding: 10px 0 10px 5px;
  border-radius: 25px;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 100%;
  margin: 0 auto 15px auto;
  font-family: "Aeonik-Medium";
  font-size: 14px;
}

textarea {
  background-color: #0000;
  background-size: 100% 41px;
  line-height: 25px;
  border: 1px solid #ffffff;
  font-family: "Aeonik";
  font-size: 15px;
  float: left;
  color: #ffffff;
  resize: none;
  border-radius: 25px;
  padding: 10px;
  height: 315px;
  width: 100%;
  box-sizing: border-box;
}
.textarea-contact-us {
  height: 204px;
}
textarea::placeholder {
  color: #ffffff;
}

.submit {
  background-color: #ffd000;
  border: 1px solid #ffd000;
  color: #000000;
  margin: 17px 0 0 0;
  font-size: 14px;
  width: 127px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.submit:hover {
  background-color: #000000;
  color: #ffd000;
}

.partners {
  display: none;
  text-align: center;
  padding: 70px 0 60px 0;
}

.partners-title {
  font-size: 28px;
  font-family: "Aeonik";
  margin-bottom: 50px;
}

.partners-img-content {
  display: flex;
  justify-content: space-evenly;
  max-width: 885px;
  margin: 0 auto;
}

.partners-img {
  width: auto;
  height: 36px;
}

footer {
  background-color: #ffd000;
  padding: 50px 0 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-logo {
  width: 120px;
  margin-right: 20px;
}

.footer-contact {
  display: inline-block;
}

.footer-info {
  border-right: 1.5px solid black;
  padding: 0 15px;
  display: inline-block;
}

.social-img {
  vertical-align: bottom;
  margin: 0 2px;
  width: 20px;
}

.footer-copy {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  bottom: 0;
  margin-top: 40px;
  width: 100%;
  padding: 15px 35px 10px 0;
  font-size: 15px;
}
.text-contact-us {
  color: #ffd000;
  text-align: center;
}
ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ffffff;
}

p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    padding: 15px 0 0 15px;
    width: 120px;
  }
  .contact-btn {
  }
  .cotizar-btn {
    margin: 15px 5px 0 10px;
  }
  .first-logo,
  .content-arrow {
    display: none;
  }
  .first-description {
    padding: 0 24px;
  }
  .availability-wrapper {
    background-position: -216px;
    padding-top: 75px;
    height: 380px;
  }
  .availability-title {
    font-size: 35px;
  }
  .availability-description {
    margin-bottom: 15px;
  }
  .availability-hl {
    font-size: 16px;
  }
  .feature-content {
    padding: 40px;
  }
  .feature-item {
    width: 200px;
    margin-bottom: 60px;
  }
  .feature-title {
    height: auto;
  }
  .feature-description {
    padding-top: 5px;
  }
  .column-form {
    width: 90%;
  }
  input {
    width: 100%;
  }
  textarea {
    height: 200px;
  }
  .form-contact-us {
    position: absolute;
    bottom: -95px;
    left: 75px;
  }
  .text-contact-us{
    display: none;
  }
  footer {
    padding-top: 20px;
  }
  .footer-contact {
    padding: 0 70px;
    display: block;
  }
  .footer-logo{
    margin: 0;
    display: block;
  }
  .footer-info {
    padding: 0;
    border: none;
    line-height: 21px;
  }
  .footer-address{
    display: none;
  }
  .footer-copy {
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
  }

}

@media screen and (max-width: 387px) {
  .contact-btn {
    background-color: #ffd000;
    margin-right: 5px;
  }
  .first-title {
    font-size: 36px;
  }
}
@media screen and (min-width: 358px) and (max-width: 486px) {
  .footer-contact{
    width: 260px;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
}

@media screen and (min-width: 1600px) {
}

@font-face {
  font-family: "Aeonik";
  src: url(../fonts/Aeonik-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Aeonik-Bold";
  src: url(../fonts/Aeonik-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Aeonik-Medium";
  src: url(../fonts/Aeonik-Medium.otf) format("truetype");
}
